
<%= form_for @product do |p| %>

<%= p.label :Name %> <br>

<%= p.text_area :name %>  <br>

<div class="actions">
<%= p.submit   %>
</div>

<% end %>


jdbdsvbdsvbshsdvbhvdsdsvbhjhbjgj




<% @products.each do |product| %>
<%=product.name %>

<% end %>